body {
    background-image: url("../public/img/pizzabg.png");
  }
   
  .error {
      color: red;
      font-size: 1rem;
  }

  h1 {
      color: green;
  }

  h2 {
      color: green;
  }

  h4 {
    color: white;
  }

  label {
      color: white;
  }

  p {
      color: white;
  }

  .navLinks a {
      text-decoration: none;
      color: green;
  }

  .frontHeader {
      display: flex;
  }